@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: red;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-background-light;
}


.section-title {
  @apply text-3xl font-bold mb-title-spacing;
}

.page-wrapper {
  @apply pt-header-height container mx-auto my-12;
}

[class^="board-container"] {
  border: none !important;
}

[class^="board-container"] [class^="white"] {
  background-color: aqua;
}

*:active, *:focus {
  @apply outline-primary-500;
}